!!! 5
%html
  %head
    %title Instructions
    = stylesheet_link_tag :application

  %body
    #container.visible
      %h1 You have already completed this version of "Choose an Online Video". Please return this HIT and select a different one."
