!!! 5
%html
  %head
    %title Instructions
    = stylesheet_link_tag :application

  %body
    #container
      %h1 You have already completed this version of "Choose an Online Video". There are multiple versions of this HIT posted at the same time, each with a different number at the end of the HIT name. YOU MAY NOT COMPLETE THE EXACT SAME HIT MORE THAN ONCE. So if you've done a HIT titled "Choose an Online Video (1)" you may NOT do "Choose an Online Video (1)" again, but you can do "Choose an Online Video (2)."
