!!! 5
%html
  %head
    %title Instructions
    = stylesheet_link_tag :application

  %body
    #header
      %h1 Pick a Video: Instructions

    %p.instructions Imagine you are about to watch a video. At any one time, you will be presented with three different video thumbnails to choose from. Please click on the one you most want to watch if you could only watch one of the three.
    
    =image_tag "instructions/sample_trial.png", :class => "instructions"
    
    =image_tag "stimuli/2alP2ZlmmFA_Swimm_3.50585243482.jpg", :class => "hidden"
    =image_tag "stimuli/2alP2ZlmmFA_Swimm_3.5591685289.jpg", :class => "hidden"
    =image_tag "stimuli/2alP2ZlmmFA_Swimm_3.63940208541.jpg", :class => "hidden"
    =image_tag "stimuli/4uz-U8KRfNw_Ultim_275_1.jpg", :class => "hidden"
    =image_tag "stimuli/4uz-U8KRfNw_Ultim_276_3.jpg", :class => "hidden"
    =image_tag "stimuli/4uz-U8KRfNw_Ultim_277_1.jpg", :class => "hidden"
    =image_tag "stimuli/EiSHXgrJA-E_Ian%20W_27_5.jpg", :class => "hidden"
    =image_tag "stimuli/EiSHXgrJA-E_Ian%20W_29_4.jpg", :class => "hidden"
    =image_tag "stimuli/EiSHXgrJA-E_Ian%20W_50_5.jpg", :class => "hidden"
    =image_tag "stimuli/IklYA2O1P1c_Golf%20_1.015234759.jpg", :class => "hidden"
    =image_tag "stimuli/IklYA2O1P1c_Golf%20_2.50191259564.jpg", :class => "hidden"
    =image_tag "stimuli/IklYA2O1P1c_Golf%20_7.24384958628.jpg", :class => "hidden"
    =image_tag "stimuli/JN9_UE4XzLQ_Clayt_1.00354642512.jpg", :class => "hidden"
    =image_tag "stimuli/JN9_UE4XzLQ_Clayt_1.00363948058.jpg", :class => "hidden"
    =image_tag "stimuli/JN9_UE4XzLQ_Clayt_1.01137989296.jpg", :class => "hidden"
    =image_tag "stimuli/Jgis_SFaXkc_Swans_125_2.jpg", :class => "hidden"
    =image_tag "stimuli/Jgis_SFaXkc_Swans_150_5.jpg", :class => "hidden"
    =image_tag "stimuli/Jgis_SFaXkc_Swans_325_7.jpg", :class => "hidden"
    =image_tag "stimuli/Jgis_SFaXkc_v-pt1BB_viw_Swans_153_5.jpg", :class => "hidden"
    =image_tag "stimuli/Jgis_SFaXkc_v-pt1BB_viw_Swans_154_7.jpg", :class => "hidden"
    =image_tag "stimuli/Jgis_SFaXkc_v-pt1BB_viw_Swans_277_4.jpg", :class => "hidden"
    =image_tag "stimuli/KG-enJa6JWA_Athle_25_6.jpg", :class => "hidden"
    =image_tag "stimuli/KG-enJa6JWA_Athle_46_5.jpg", :class => "hidden"
    =image_tag "stimuli/KG-enJa6JWA_Athle_54_6.jpg", :class => "hidden"
    =image_tag "stimuli/KPcCHbI03sE_Beach_81_9.jpg", :class => "hidden"
    =image_tag "stimuli/KPcCHbI03sE_Beach_91_5.jpg", :class => "hidden"
    =image_tag "stimuli/KPcCHbI03sE_Beach_94_10.jpg", :class => "hidden"
    =image_tag "stimuli/L5hnAwQKUZcL5hnAwQKUZc_ESPN%20_3.53785933154.jpg", :class => "hidden"
    =image_tag "stimuli/L5hnAwQKUZcL5hnAwQKUZc_ESPN%20_3.53838020651.jpg", :class => "hidden"
    =image_tag "stimuli/L5hnAwQKUZcL5hnAwQKUZc_ESPN%20_4.88691591101.jpg", :class => "hidden"
    =image_tag "stimuli/MjJLhDN1b64_Roger_101_5.jpg", :class => "hidden"
    =image_tag "stimuli/MjJLhDN1b64_Roger_250_5.jpg", :class => "hidden"
    =image_tag "stimuli/MjJLhDN1b64_Roger_529_3.jpg", :class => "hidden"
    =image_tag "stimuli/S81iHPw474g_NBA%20N_151_3.jpg", :class => "hidden"
    =image_tag "stimuli/S81iHPw474g_NBA%20N_54_4.jpg", :class => "hidden"
    =image_tag "stimuli/S81iHPw474g_NBA%20N_78_8.jpg", :class => "hidden"
    =image_tag "stimuli/SxEOWOji8xw_Pitts_1.0801772564.jpg", :class => "hidden"
    =image_tag "stimuli/SxEOWOji8xw_Pitts_1.0867986587.jpg", :class => "hidden"
    =image_tag "stimuli/SxEOWOji8xw_Pitts_1.17322089029.jpg", :class => "hidden"
    =image_tag "stimuli/T71tDxWYzjo_Game%20_125_5.jpg", :class => "hidden"
    =image_tag "stimuli/T71tDxWYzjo_Game%20_177_4.jpg", :class => "hidden"
    =image_tag "stimuli/T71tDxWYzjo_Game%20_179_5.jpg", :class => "hidden"
    =image_tag "stimuli/VwJedZf187Y_Hard%20_101_5.jpg", :class => "hidden"
    =image_tag "stimuli/VwJedZf187Y_Hard%20_104_4.jpg", :class => "hidden"
    =image_tag "stimuli/VwJedZf187Y_Hard%20_125_6.jpg", :class => "hidden"
    =image_tag "stimuli/WnRBWIN8pAA_Super_3.50191761055.jpg", :class => "hidden"
    =image_tag "stimuli/WnRBWIN8pAA_Super_3.57744215875.jpg", :class => "hidden"
    =image_tag "stimuli/WnRBWIN8pAA_Super_6.22009142308.jpg", :class => "hidden"
    =image_tag "stimuli/XWzYOpWi65E_This%20_202_1.jpg", :class => "hidden"
    =image_tag "stimuli/XWzYOpWi65E_This%20_204_8.jpg", :class => "hidden"
    =image_tag "stimuli/XWzYOpWi65E_This%20_29_6.jpg", :class => "hidden"
    =image_tag "stimuli/_EzNfk9fNEg2_2012%20_6.2512048692.jpg", :class => "hidden"
    =image_tag "stimuli/_EzNfk9fNEg2_2012%20_6.28766912553.jpg", :class => "hidden"
    =image_tag "stimuli/_EzNfk9fNEg2_2012%20_9.70315437821.jpg", :class => "hidden"
    =image_tag "stimuli/_EzNfk9fNEg_2012%20_1.02714655579.jpg", :class => "hidden"
    =image_tag "stimuli/_EzNfk9fNEg_2012%20_2.03423617203.jpg", :class => "hidden"
    =image_tag "stimuli/_EzNfk9fNEg_2012%20_5.01230492983.jpg", :class => "hidden"
    =image_tag "stimuli/_WSK0__XTcM_SURFI_200_1.jpg", :class => "hidden"
    =image_tag "stimuli/_WSK0__XTcM_SURFI_279_1.jpg", :class => "hidden"
    =image_tag "stimuli/_WSK0__XTcM_SURFI_326_1.jpg", :class => "hidden"
    =image_tag "stimuli/cFG32B-SymM_Swimm_100_4.jpg", :class => "hidden"
    =image_tag "stimuli/cFG32B-SymM_Swimm_101_8.jpg", :class => "hidden"
    =image_tag "stimuli/cFG32B-SymM_Swimm_103_3.jpg", :class => "hidden"
    =image_tag "stimuli/cFG32B-SymM_Swimm_29_7.jpg", :class => "hidden"
    =image_tag "stimuli/cFG32B-SymM_Swimm_50_5.jpg", :class => "hidden"
    =image_tag "stimuli/cFG32B-SymM_Swimm_52_7.jpg", :class => "hidden"
    =image_tag "stimuli/dvbx-J8BM1o_Pitts_229_6.jpg", :class => "hidden"
    =image_tag "stimuli/dvbx-J8BM1o_Pitts_252_7.jpg", :class => "hidden"
    =image_tag "stimuli/dvbx-J8BM1o_Pitts_278_6.jpg", :class => "hidden"
    =image_tag "stimuli/fcE1pPit-7Q_Ski%20J_202_8.jpg", :class => "hidden"
    =image_tag "stimuli/fcE1pPit-7Q_Ski%20J_29_4.jpg", :class => "hidden"
    =image_tag "stimuli/fcE1pPit-7Q_Ski%20J_75_1.jpg", :class => "hidden"
    =image_tag "stimuli/fjUWhSM6Hc_Athle_126_8.jpg", :class => "hidden"
    =image_tag "stimuli/fjUWhSM6Hc_Athle_127_8.jpg", :class => "hidden"
    =image_tag "stimuli/fjUWhSM6Hc_Athle_150_8.jpg", :class => "hidden"
    =image_tag "stimuli/gEjQ2Ttbs9M_Volle_350_8.jpg", :class => "hidden"
    =image_tag "stimuli/gEjQ2Ttbs9M_Volle_375_4.jpg", :class => "hidden"
    =image_tag "stimuli/gEjQ2Ttbs9M_Volle_378_6.jpg", :class => "hidden"
    =image_tag "stimuli/hL_Xbvnvwpc_Sport_125_4.jpg", :class => "hidden"
    =image_tag "stimuli/hL_Xbvnvwpc_Sport_126_5.jpg", :class => "hidden"
    =image_tag "stimuli/hL_Xbvnvwpc_Sport_127_8.jpg", :class => "hidden"
    =image_tag "stimuli/hhIgGA0yD-A_Wimbl_1.03200979216.jpg", :class => "hidden"
    =image_tag "stimuli/hhIgGA0yD-A_Wimbl_1.03291270021.jpg", :class => "hidden"
    =image_tag "stimuli/hhIgGA0yD-A_Wimbl_1.03442767197.jpg", :class => "hidden"
    =image_tag "stimuli/i1YmBof5r9g_Athle_175_6.jpg", :class => "hidden"
    =image_tag "stimuli/i1YmBof5r9g_Athle_176_5.jpg", :class => "hidden"
    =image_tag "stimuli/i1YmBof5r9g_Athle_177_6.jpg", :class => "hidden"
    =image_tag "stimuli/iEd8fCgwMJU_Chris_50_3.jpg", :class => "hidden"
    =image_tag "stimuli/iEd8fCgwMJU_Chris_54_5.jpg", :class => "hidden"
    =image_tag "stimuli/iEd8fCgwMJU_Chris_75_5.jpg", :class => "hidden"
    =image_tag "stimuli/jDWt9Omnddc_2012%20_3.65960584017.jpg", :class => "hidden"
    =image_tag "stimuli/jDWt9Omnddc_2012%20_4.53669587398.jpg", :class => "hidden"
    =image_tag "stimuli/jDWt9Omnddc_2012%20_4.54240247435.jpg", :class => "hidden"
    =image_tag "stimuli/oyxhHkOel2I_The%20B_3.75852677417.jpg", :class => "hidden"
    =image_tag "stimuli/oyxhHkOel2I_The%20B_3.77168930855.jpg", :class => "hidden"
    =image_tag "stimuli/oyxhHkOel2I_The%20B_4.6024909302.jpg", :class => "hidden"
    =image_tag "stimuli/pRD7Wxhw7y8_GoPro_250_1.jpg", :class => "hidden"
    =image_tag "stimuli/pRD7Wxhw7y8_GoPro_29_6.jpg", :class => "hidden"
    =image_tag "stimuli/pRD7Wxhw7y8_GoPro_53_4.jpg", :class => "hidden"
    =image_tag "stimuli/v-pt1BB_viw_West%20_2.63048845414.jpg", :class => "hidden"
    =image_tag "stimuli/v-pt1BB_viw_West%20_3.51667061021.jpg", :class => "hidden"
    =image_tag "stimuli/v-pt1BB_viw_West%20_8.53630593389.jpg", :class => "hidden"
    =image_tag "stimuli/vlosIyEgd0I_Day%201_25_5.jpg", :class => "hidden"
    =image_tag "stimuli/vlosIyEgd0I_Day%201_28_7.jpg", :class => "hidden"
    =image_tag "stimuli/vlosIyEgd0I_Day%201_29_7.jpg", :class => "hidden"
    =image_tag "stimuli/zTeBQJDCHBw_Best%20_3.53140850847.jpg", :class => "hidden"
    =image_tag "stimuli/zTeBQJDCHBw_Best%20_3.54015952408.jpg", :class => "hidden"
    =image_tag "stimuli/zTeBQJDCHBw_Best%20_6.2151692365.jpg", :class => "hidden"

    %p.instructions Please note that you will not actually be watching the videos; you are simply clicking on the video that you would most want to watch.
    
    %p.instructions 
      The video thumbnails will be presented 
      %b**VERY FAST**. 
      Please make your response as quickly and as accurately as possible.
    
    %p.instructions Once you have selected a video thumbnail, three more will appear on the next screen. Please continue selecting the video you would most like to watch.

    %p.instructions There are two parts to this experiment. You will be notified when the first part is over and given instructions for the second part.
    
    %p.instructions When you are ready to begin, click the button below to start the task.
    / =button_to("Begin Experiment", :index)
    %button
      =link_to("Begin Experiment", url(:index))
